* {
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.4s ease;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo padrão */
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #d4c7ab;
    transition: background-color 0.4s ease;
}

main {
    height: calc(100vh - 160px); /* 80px (header) + 80px (footer) */
}

.toggle--dark {
    width: 135px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 99px;
    background-image: url(lightmode.png);
    display: block;
    transition: 0.4s;
    cursor: pointer;
}

.bolinha {
    display: inline-block;
    border-radius: 50%;
    height: 52px;
    width: 49.5px;
    background-color: rgb(175, 176, 87);
    position: relative;
    left: 3%;
    top: 50%;
    transform: translateY(-50%) translateX(0%);
    transition: all 0.6s;
}

#toggle--dark {
    display: none;
}

.dark .bolinha {
    transform: translateX(calc(135px - 50px - 10px)) translateY(-50%);
    background-color: rgb(97, 89, 195);
}

.dark .toggle--dark {
    background-image: url(darkmode.png);
}

.img--main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease;
}

.dark .img--main {
    filter: brightness(0.8); /* Escurece a imagem quando no modo dark */
}